$maincolor: rgb(255, 27, 27);
$subcolor: rgb(27, 255, 244);
$fontcolor: rgb(56, 56, 56);

.profilegazou{
    background-color: $maincolor ;
    width: 550px;
    height: 800px;
}
.maincontents{
    margin: auto;
}
.profile_td{
    width: 500px;
}